/* Use the font as lato */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s;
}

.carousel-item.active {
  opacity: 1;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: "Libre Franklin", sans-serif;
  font-size: 8rem; /* 96px */
  line-height: 1;
}

@media (max-width: 1200px) {
  .main-heading {
    font-size: 4rem; /* 64px */
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 3rem; /* 48px */
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 2rem; /* 32px */
  }
}
